.nav-wrapper {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    min-height: 90px;
    top: 0;
    background-color:  #457b9d;
}

.nav-wrapper-center {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
}

.search-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.nav-lead-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 30px ;
    width: auto;
    color: #fff;
    font-weight: 1600;
}


.nav-lead-content {
    display: flex;
    flex-flow: row;
    width: auto;
    justify-content: flex-start;
    /* background-color: brown; */
}


.fas {
    margin: auto 10px;
    font-size: 2em;
}


.nav-lead-content, h2 {
    font-weight: bold;
    margin: auto 10px;
}


.home-button {
    background-color: transparent;
    color: #fff;
    border: none !important;
    outline:none;
}


.home-button:focus {
    border: none !important;
    outline:none;
}


.nav-wrapper-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: auto;
    padding: 30px;
}


.search-form {
    display: flex;
    max-height: 40px;
}


.search-form > input {
   width: calc(350px + 2vmin);
}


.search-form .btn {
   height: 38px;
}

/*
    Vertically align nave
*/
@media only screen and (max-width: 940px) {
    .nav-wrapper-center {
        width: 480px;
    }
}