.tutorial-page-wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

/*
    Jumper
*/

.tutorial-page-jumper {
    width: 250px;
    background-color: #edf2f4;
    height: 100vh;
    opacity: 0.8;
    overflow-x: hidden;
    
}

.jumper-header {
    font-weight: 500;
    margin: 10px auto;
}

.tutorial-page-jumper > ul {
    margin: 60px;
    border-left: 5px solid #209CEE;
    list-style: none;
    padding: 0 15px;
}

.tutorial-page-jumper > ul > li > a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 0 15px;
}

.tutorial-page-jumper > ul > li > a:hover {
    color: #b8d8ba;
    text-decoration: underline;
}

.jumper-footer {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    text-align: center;
    bottom: 30px;
}


.lead, .lead:hover {
    font-size: 24px;
    font-weight: 500;
    color: #209CEE;
    text-decoration: none;
}

.jumper-footer > p {
    font-size: 14px;
}

/*
    Tutorial Content
*/

.tutorial-page-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-shadow: 5px 0 5px -1px #aaa;
    overflow-y: scroll;
}

/*
    Feature
*/
.tutorial-page-features-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    padding: auto 5%;
}

.tutorial-page-features-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 100px;
}

/*
    Card
*/
.feature-card-wrapper {
    margin: 30px auto;
    width: 70%;
}

.feature-card-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

/*
    Title
*/
.feature-card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    color: #888;
}


/*
    Image
*/

.feature-card-image {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
}

.feature-card-image > img{
    width: 100%;
    border-radius: 10px;
}

/*
    lead
*/
.feature-card-lead {
    width: 100%;
    font-size: 16px;
}

hr {
    width: 70%;
    border: 1px #e9ecef solid;
    margin: 50px auto 20px auto;
}

/* Smartphones ---------- */
@media only screen 
and (max-width : 620px) {
  
    .tutorial-page-jumper {
        width: 0px;
    }
}