.home-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px auto 0 auto;
}


.home-btn-content {
    display: flex;
    width: 70%;
    justify-content: flex-end;
}


.view-book-wrapper {
    width: 100%;
    height: auto;
    margin-top: 50px;
}


.view-book-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px 15% 30px 15%;
}


/*
    Img column
*/
.view-image-column {
    display: block;
    padding: 0 30px 30px 30px;
    min-width: 400px;
    width: 40%;
}


.view-image-column > img {
    width: 100%;
    height: auto;
}


/*
 Info Column
*/
.view-book-info {
    padding: 0 20px;
    min-width: 400px;
    width: 40%;
}

.book-card-title:hover {
    text-decoration: none;
    color: #000;
}


/*
    Rating CSS
*/
.book-rating {
    display: inline-flex;
}


.book-rating-count {
    margin: auto 10px;
    font-size: 14px;
}


/*
    Rent Return CSS
*/
.view-book-buttons {
    display: flex;
    flex-flow: column;
}


.view-book-buttons > button {
    margin: 10px;
    font-weight: 600;
}


/*
    ReviewContianer
*/
.review-container-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
}


.review-container-header {
    display: block;
    font-weight: 1200;
}


.review-contianer-content {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    font-size: 14px;
}


/*
    New Review Form 
*/
.new-review-wrapper {
    margin: 10px 25px;
    color: black
}


.no-review-content {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    height: auto;
}


.check-input {
    margin: auto 0;
    background-color:darkcyan;
}


.check-label {
    display: flex;
    margin: auto 5px;
    width: auto;
    font-size: 14px;
}


.new-review-content > textarea {
    font-size: 14px;
}


.new-review-buttons {
    display: flex;
    margin: 15px 0;
    flex-flow: row;
    justify-content: space-between;
}

textarea.form-control {
    font-size: 14px;
}


/*
    Reviews, 
*/
.review-wrapper {
    width: 100%;
    height: auto;
    margin: 10px;
}


.review-header {
    display: flex;
    margin: 5px 0;
}


.review-date {
    font-size: 14px;
    font-weight: 1600;
    margin: auto 15px auto 0;
}


.review-text {
    font-size: 14px;
}
